@import 'partials/variables';
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
}
html{
  font-size: 62.5%;
}
body{
  background-color: $couleurfondbody;
  font-family: poppins;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 2;
  color: $couleurtexte;
}
h1,h2,h3{
  font-size: 1.4rem;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: inherit;
}
p,ul,h1,h2,h3{
  margin-bottom: 0;
}
textarea{
  resize: none;
}
/* Works on Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgba(0,0,0,0.1) rgba(255,255,255,0.2); 
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.2);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0.2);
}
/* Wrapper */
.wrapper{
  min-width: 36rem;
  overflow: hidden;
  position: relative;
}
/* Header */
header{
  height: 8rem;
  background-color: $couleurwhite;
  border-bottom:0.4rem solid $couleurbleuciel;
}
.header{
  padding: 1rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.logo{
  display: flex;
  gap: 1rem;
  align-items: center;
  & img{
    width: 5rem;
    margin-right: 0.5rem;
  }
& h1{
  display: flex;
  flex-direction: column;
}
& span:nth-child(2){
  font-size: 1.2rem;
  opacity: 0.6;
  font-weight: normal;
}
  // & span{
  //   display: none;
  // }
}
.header .account-login-profil{
  display: flex;
  align-items: center;
  justify-content: center;

  span{
    font-size: 2.8rem;
    opacity: 0.3;
  }
}
.header, .mainlist-center-left{
  .account-login{
    display: flex; 
    gap: 1.5rem; 
    height: 100%; 
    align-items: center;
  }
  .account-login-profil{
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    padding: 2rem 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border: 0.1rem solid $bordercontainer;
    background: $couleurfondbody;

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  }
  & .fa-chevron-down{
    color: $couleurtexte;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  .account-login-username span{
    opacity: 0.7;
  }
}
/* Navigation */
.navigation{
  height: 6rem;
  background-color: $couleursecondaire;
  color: $couleurwhite;
  border-bottom:0.4rem solid $couleurbleuciel;
 }
 /* Nav Center */
.nav{
  height: 100%;
  display: flex;
  align-items: center; 
  position: relative;
  padding-left:1rem;
  padding-right: 1rem;
 
  /* Menu Login */
  & .menu-login{
    width: 18rem;
    background-color: $couleurwhite;
    border-radius: 0.5rem;
    position: absolute;
    color: $couleurtexte;
    right: -100%;
    top: -0.25rem;
    box-shadow: 0 0 1.2rem rgba($color: #000000, $alpha: 0.2);
    border: 0.1rem solid $bordercontainer;
    padding: 0;
    transition: right 0.3s ease-in-out;

    /* Active */
    &.active{
      display: block;
      right: 1rem;
    }
    & li {
      padding: 1rem 2rem;
    }
    & li:nth-child(1){
      border-bottom:0.1rem solid rgba($color: #000000, $alpha: 0.1);
    }
    & span{
      margin-right: 0.5rem;
      color: $couleursecondaire;
    }   
  }
   /* Menu */
   .menu{
    display: flex;
    height: 100%;
    
    & li{
      padding: 0 1.5rem;
      color: $couleurwhite;
      border-left: 0.1rem solid rgba($color: #ffffff, $alpha: 0.2);
    }
  }

  .menu-login-bloc-design{
    width: 1rem;
    height: 1rem;
    background-color: $couleurwhite;
    border-left: 0.1rem solid $bordercontainer;
    border-top: 0.1rem solid $bordercontainer;
    position: absolute;
    transform: rotate(45deg);
    top: -0.6rem;
    right: 1.5rem;
    display: block;
    }     
}
/* Dashboard */
.nav .dashboardIcon.active,.nav .menu-list-item.active{
  font-weight: bold;
  font-size: 1.4rem;
  color: $couleurprimaire;
  height: 100%;
}
.dashboardIcon, .menu-list-item{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.dashboardIcon, .menu-list-item{
  width: 6.8rem;
}
.dashboardIcon a:first-child {
  font-size: 2rem;
}
.dashboardIcon a:nth-child(2){
  display: none;
}
.menu-list-item{
  position: relative;

  & .fa-chevron-down{
    cursor: pointer;
  }
}
.nav .menu-list-item-sub-menu{
  position: absolute;
  top: 5rem;
  background-color: $couleurwhite;
  border: 0.1rem solid $bordercontainer;
  padding: 1rem 0;
  border-radius: 0.5rem;
  width: 25rem;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1.2rem rgba($color: #000000, $alpha: 0.2);
  z-index: -1;
  opacity: 0;
  transition: top 0.3s ease-in-out;

  &.active{
    z-index: 1;
    opacity: 1;
    top: 6rem;
  }

  & li{
    border-left:0 none;
    color: $couleursecondaire;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    & span{
      margin-right: 0.5rem;
     
      color: $couleurprimaire;
    }
  }
}
.menu-list-item .menu-login-bloc-design{
  right: 19.75rem;
}
.menu-list-item span:nth-of-type(2){
  font-size: 1.2rem;
  opacity: 0.6;
}
.menu span + a{
  display: none;
}
.menu .menu-list-item-sub-menu a {
  display: inline;
}

/* Breadcrumb */
.bread{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  & p{
    color: $couleursecondaire;
    font-size: 1.2rem;
    font-weight: bold;
  }

}
/* Jumbotron */
.wrapper .hero-unit{
  background: $couleurwhite;
  box-shadow: 0 0 0.6rem rgba($color: #000000, $alpha: 0.1);
  border-radius: 0.5rem;
  padding: 3rem;
  color: $couleurwhite;
  position: relative;
  color: $couleursecondaire;

  & p{
    padding: 1.5rem 0;
  }
  span{
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 6.2rem;
    color: $couleurtertiairelight;
    display: none;
  }
}
/* Main */
main{
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3rem;
}
/* Resume */
.resume{
  padding-top: 3rem;
  padding-bottom: 3rem;
} 
.resume-group{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.resume-group-bloc{
  padding: 2rem;
  border: 0.1rem solid $bordercontainer;
  border-radius: 0.5rem;
  background: $couleurwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;


  & span:nth-child(1){
    font-weight: bold;
    font-size: 5.2rem;
    margin-top: 1rem;
    color: $couleurtertiairelight;
  }
  & b {
    font-weight: normal;
    font-size: 1.6rem;
  }
  & span:nth-child(3){
    color: $couleursecondaire;
    font-weight: bold;
  }
}

/* Mainlist */
.mainlist-center{
  display: flex;
  flex-direction: row;
  gap: 2rem;

  .listMedecin{
    height: auto;
    margin-top: 2.5rem;

    & .account-login-profil{
      border-color:rgba($color: #000000, $alpha: 0.1);
    }

  }
  .account-login-username{
    & strong{
      font-weight: normal;
    }
  }
}
.account-login-username{
  line-height: 1.5;
}
.mainlist-center-left{
  width: calc(30% - 1rem);
  align-self: flex-start;
}
.mainlist-center-right{
  width: calc(70% - 1rem);

  & table {
    width: 100%;
  }
  & td{
    padding-left: 0.5rem;
  }
  & thead {
    height: 5rem;
  }
  & th{
    font-weight: normal;
    color: $couleurtertiairelight;
  }
  & tbody tr{
    height: 4rem;
  }
  tbody tr:nth-child(even){
    background-color: $couleurfondbody;
  }
}
.mainlist-center-left,.mainlist-center-right{
  border: 0.1rem solid $bordercontainer;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  background-color: $couleurwhite;
}
.mainlist-center-title{
  color: $couleurprimaire;
  font-weight: bold;
  margin-bottom: 2rem;
  display: block;
  font-size: 1.6rem;
}
/* Footer */
footer{
  background: $couleurwhite;
  border-top: 0.4rem solid $couleurbleuciel;
}
.footer{
  padding: 1rem 2rem;
  text-align: center;
}

/* Form patient */
.form-insert{
  padding: 3rem 1rem;

  & legend{
    font-weight: bold;
    font-size: 2rem;
    margin: 3rem 0;
    color: $couleursecondaire;
  }
  & form.form-add{
    padding: 3rem;
    border: 0.1rem solid $bordercontainer;
    border-radius: 0.5rem;
    background: $couleurwhite;

    & ::placeholder{
      font-size: 1.2rem;
    }
  }
  .form-group{
    margin-top: 2rem;
  }
  label{
    font-size: 1.6rem;
  }
  input, textarea, button, select{
    padding: 1.25rem 1rem;
    font-size: 1.4rem;
    border:0.1rem solid $bordercontainer;
  }
  textarea{
    height: 15rem;
    resize: none;
  }
  label + label{
    margin-left: 1.5rem;
  }
  input[type="radio"]{
    margin: 2rem 0.5rem 0 0;
  }
  button{
    background: transparent;
    border-radius: 0.5rem;
    border: 0.1rem solid $bordercontainer;
    font-weight: bold;
    color: $couleursecondaire;
    padding: 1.5rem 3rem;
    transition: background 0.3s ease-in-out;
    border: 0.1rem solid $bordercontainer;
  }
  button:hover{
    background: $couleursecondaire;
    color: $couleurwhite;
  }
}

.list-view{
  margin: 3rem 0;
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid $bordercontainer;
  background: $couleurwhite;
  td, th{
    padding: 1rem;
  }

  & .nav {
    width: 100%;
    margin-top: 6rem;
    border: 0.1rem solid rgba($color: #000000, $alpha: 0.05);
    box-shadow: 0 0 1.2rem rgba($color: #000000, $alpha: 0.01);

    & a{
      color: $couleursecondaire;
    }
  }

  & .table-responsive{
    margin-top: 5rem;
    border: 0.1rem solid rgba($color: #000000, $alpha: 0.05);
    box-shadow: 0 0 1.2rem rgba($color: #000000, $alpha: 0.01);
  }
  .app-btn-secondary{font-weight: normal; border: 0.1rem solid $bordercontainer; padding: 1.3rem 1rem; transition: color 0.3s ease-in-out;}

  .app-btn-secondary:hover{ color: $couleurprimaire;}

  & input, select, button{
    padding: 1.2rem 1rem;
    border: 0.1rem solid $bordercontainer;
  }
  & .col-auto button{
    font-weight: bold;
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  .link-details{
    font-size: 1.2rem;
    color: $couleurprimaire;

  }
  .app-nav-tabs{background:#fff;padding:0}
  .app-nav-tabs .nav-link{color:$couleursecondaire;font-weight:bold}
  .app-nav-tabs .nav-link.active{color:$couleurprimaire;border-bottom:2px solid $couleurprimaire;}
  .app-nav-tabs .nav-link.active:hover{background:none}
  .app-nav-tabs .nav-link:hover{color:$couleurprimaire;}
  .active > .page-link, .page-link.active{
    background: $couleursecondaire;
    border-color:$couleursecondaire;

  }
  .page-item .page-link{
    color: $couleursecondaire;
  }
  .page-item.active .page-link{
    color: $couleurwhite;
    font-weight: bold;
  }
  .separator{
    font-size: 1.4rem;
    opacity: 0.5;
  }

}

/* CPANEL Dashboard */
.cpanel-wrapper{
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & footer{
    margin-top: auto;
    height: 5rem;
  }
}
.cpanel{
  height: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;

  & form{
    width: 34rem;
    padding: 3rem 1.5rem;
    border: 0.1rem solid $bordercontainer;
    border-radius: 0.5rem;
    background: $couleurwhite;
  }
  & .form-group{
    margin-bottom: 1rem;
  }
  & label {
    display: block;
 
  }
  & input, button{
    width: 100%;
    padding: 1.5rem 1rem;
    margin-top: 1rem;
  }
  & button {
    background: transparent;
    color: $couleursecondaire;
    font-size: 1.6rem;
    font-weight: bold;
    border: 0.1rem solid $bordercontainer;
    transition: background 0.3s ease-in-out;

    &:hover{
      background: $couleursecondaire;
      color: $couleurwhite;
    }
  }
  & .cpanel-title{
    font-size: 3.2rem;
    font-weight: bold;
    color: $couleursecondaire;
  }
  & .alert-danger{
    font-size: 1.2rem;
  }
}
.list-antecedent{
  padding: 6rem 3rem;
  margin-top: 3rem;
  border: 0.1rem solid $bordercontainer;
  border-radius: 0.5rem;
  background-color: $couleurwhite;

  & h2{
    margin-bottom: 3rem;
  }
}
.cpanel-wrapper .header{
  justify-content: flex-start;
  gap: 1.5rem;

}
.trimageprofil td{
  height: 8rem;
  line-height: 8rem;
}
.tdimageprofil .imgprofil{
  width: 8rem;
  height: 8rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color: #000000, $alpha: 0.01);
  border: 0.1rem solid $bordercontainer;
  border-radius: 0.5rem;
  overflow: hidden;

  & img{
    width: 100%;
    height: 100%;
    border: 0.1rem solid $bordercontainer;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
  }
}
/* Aide */
.app-wrapper {
  .app-page-title{
    font-size: 2.4rem;
    font-weight: bold;
    color: $couleursecondaire;
    margin-bottom: 3rem;
  }
  
    & .app-card{
      border: 0.1rem solid rgba($color: #000000, $alpha: 0.05);
      padding: 1rem 0;
    }
    & .app-card-header{
      margin-bottom: 1rem;

      & h4{
        font-size: 1.6rem;
      }
    }
    .accordion-button{
      background: rgba($color: #000000, $alpha: 0.01);
      border: 0.1rem solid rgba($color: #000000, $alpha: 0.05);
      font-size: 1.2rem;
      color: inherit;

      &:active{
        color: $couleurprimaire;
      }
    }
}
/** Affichage */
main.list-view-details .list-view{
  padding: 1rem 0.25rem;
}
.detailsprofilapp{
  .detailsprofiltop{
    display: flex;
    gap: 2rem;
  }
  .detailsprofiltop-img{
    width: 20rem;
    padding: 0.2rem;
    height: 100%;
    border: 0.1rem solid $bordercontainer;
    border-radius: 0.5rem;
    overflow: hidden;
& .imgpatient{
  opacity: 0.3;
  height: 100%;
}
    & img{
      width: 100%;
      height: 16rem;
      object-fit: cover;
      border-radius: 0.5rem;
      border: 0.1rem solid $bordercontainer;  
      object-position: top center;
    }
  }
  .detailsprofiltop-info{
    h2{
      padding: 1rem 0;
      color: $couleursecondaire;
      font-size: 2rem;
    }
    strong{
      font-weight: normal;
    }
  }
  .detailsprofiltop-moreinfo{
    padding: 1rem;
    margin-left: auto;

    & p{
      margin-bottom: 1rem;
    }

    & .nam{
      color: $couleurtertiairelight;
    }
    & .numdossier{
      padding: 0.5rem;
      border: 0.1rem solid $bordercontainer;
      border-radius: 0.5rem;
      background: $couleurfondbody;
      color: $couleursecondaire;
      font-weight: bold;
    }
  }
  .detailsprofiltop-info-details{
    display: flex;
    padding: 0.1rem;
    gap: 1.25rem;
    align-items: center;
}
& .fa-solid{
  opacity: 0.4;
}
/** Bottom */
 .detailsprofilbottom{
  margin-top: 3rem;
  border-top:0.3rem solid $couleurbleuciel;
  width: 100%;
 }
 .detailsprofilbottomMore{
  margin-top: 3rem;

  & h3{
    font-weight: bold;
  }
 }
.detailsprofilbottomMoredetails{
  margin-top: 3rem;
}
.detailsprofilbottomspecialite{
  padding: 1rem;
  background: $couleurfondbody;
  box-shadow: 0 0 0.6rem rgba(0,0,0,0.08);
  border: 0.1rem solid rgba(0,0,0,0.1);
  border-radius: 1rem;
  margin-bottom: 1rem;
 
  & strong{
    color: $couleursecondaire;
    font-size: 1.6rem;
    color: $couleursecondaire;
    font-weight: normal;
  }
}
.detailsprofilbottomspecialitetitle{
  margin-left: 1rem;
  font-weight: normal;
  opacity: 0.8;
}
}

.editmedecin{
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;

}

.editmedecin.active{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
  height: 100%;
  display: flex;
  // align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out; 
  background: rgba(0,0,0,0.95);
  padding: 2rem;
}
.list-view .active > .page-link, .list-view .page-link.active{
  background: transparent;
  font-weight: bold;
  background: $bordercontainer;
}
.list-view .active > .page-link, .list-view .page-link.active{
  border:0.1rem solid $bordercontainer;
}
.list-view .page-item.active .page-link{
  color: $couleursecondaire;
  position: static;
}

/* detailsprofilbottomMoreAntecedentsMedicaux */
.detailsprofilbottomMoreAntecedentsMedicaux{
  margin-top: 3rem;

  & p{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: $couleurfondbody;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.08);
    border: 0.1rem solid $bordercontainer;
    border-radius: 0.5rem;
    font-size: 1.6rem;  
  }
  & strong{
    font-weight: normal;
  }
 }
 .select{
  font-size: 1.2rem;
 }
/* Responsive Web Design [Ecran de largeur minimale 576px]*/
@media screen and (min-width:#{$smallDevice * 1px}) {
  .header{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .resume-group{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .resume-group-bloc{
    width: calc(50% - 1rem);
  }
  .list-view{
    padding: 6rem 3rem;
  }
  // .header .account-login-profil{
  //   display: block;
  // }

  .wrapper .hero-unit{
    p{
      max-width: 50rem;
    }
    span{
      display: block;
    }

  }
  /* Breadcrumb */
.dashboardIcon a + a{
  display: inline;
}
}


/* Responsive Web Design [Ecran de largeur minimale 768px]*/
@media screen and (min-width:#{$mediumDevice * 1px}) {
  /* Affichage des liens sur grand ecran */
  .menu span + a{
    display: inline;
  }
  .menu li{
      padding: 0 1rem;
      border-left: 0.1rem solid $couleurfondbody;
    }
    .resume-group{
      gap: 1rem;
    }
    .resume-group-bloc{
      width: calc(25% - 0.75rem);
    }
    .wrapper .hero-unit{
      p{
        max-width: 70rem;
      }
      span{
        display: block;
      }
  
    }
    .nav .dashboardIcon{
      width: 6rem;
    }
     .menu-list-item{
      width: 17rem;
      display: flex;
      justify-content: center;
    }
    .form-insert legend{
      font-size: 2.4rem;
    }
    .menu-list-item .menu-login-bloc-design{
      right: 11.75rem;
    }
}



/* Responsive Web Design [Ecran de largeur minimale 992px]*/
@media screen and (min-width:#{$largeDevice * 1px}) {
  .logo{
    & img{
      width: auto;
    }
  }
  h1,h2,h3{
    font-size: 1.8rem;
  }
  .header, .bread, .nav,.main,.resume-group,.mainlist-center,.footer{
    width: 99.2rem;
    // padding-left: 2rem;
    // padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .nav .menu {
    font-size: 1.4rem;
  }
  .nav .menu-login.active{
    right: -1rem;
  }
  .nav .dashboardIcon{
    width: 6rem;
  }
   .menu-list-item{
    width: 20rem;
    display: flex;
    justify-content: center;
  }
  .nav .dashboardIcon{
    width: 17rem;
  }
  .dashboardIcon a:nth-child(2){
    display: inline;
  }
  

}