@import 'partials/variables';
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
}
html{
  font-size: 62.5%;
}
body{
  background-color: $couleurfondbody;
  font-family: poppins;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 2;
  color: $couleurtexte;
}
h1,h2,h3{
  font-size: 1.4rem;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: inherit;
}
p,ul,h1,h2,h3{
  margin-bottom: 0;
}
/* Wrapper */
.wrapper{
  min-width: 36rem;
  overflow: hidden;
}
/* Header */
header{
  height: 8rem;
  background-color: $couleurwhite;
  border-bottom:0.4rem solid $couleurbleuciel;
}
.header{
  padding: 1rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.logo{
  display: flex;
  gap: 1rem;
  align-items: center;
  & img{
    width: 5rem;
    margin-right: 0.5rem;
  }
& h1{
  display: flex;
  flex-direction: column;
}
& span:nth-child(2){
  font-size: 1.2rem;
  opacity: 0.6;
  font-weight: normal;
}
  // & span{
  //   display: none;
  // }
}
.header .account-login-profil{
  display: none;
}
.header, .mainlist-center-left{
  .account-login{
    display: flex; gap: 2rem; height: 100%; align-items: center;
  }
  .account-login-profil{
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    padding: 2rem 0;
    border-radius: 50%;
    padding: 1rem;
    border: 0.1rem solid $bordercontainer;
    background: $couleurfondbody;

    & img{
      width: 100%;
      height: auto;
    }
  }
  & .fa-chevron-down{
    color: $couleurtexte;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  .account-login-username span{
    opacity: 0.7;
  }
}
/* Navigation */
nav{
  height: 7rem;
  background-color: $couleursecondaire;
  color: $couleurwhite;
  border-bottom:0.4rem solid $couleurbleuciel;
 }
 /* Nav Center */
.nav{
  height: 100%;
  display: flex;
  align-items: center; 
  position: relative;
  padding-left:1rem;
  padding-right: 1rem;
 
  /* Menu Login */
  & .menu-login{
    width: 18rem;
    background-color: $couleurwhite;
    border-radius: 0.5rem;
    position: absolute;
    color: $couleurtexte;
    right: -100%;
    top: -0.25rem;
    box-shadow: 0 0 1.2rem rgba($color: #000000, $alpha: 0.2);
    border: 0.1rem solid $bordercontainer;
    padding: 0;
    transition: right 0.3s ease-in-out;

    /* Active */
    &.active{
      display: block;
      right: 1rem;
    }
    & li {
      padding: 1rem 2rem;
    }
    & li:nth-child(1){
      border-bottom:0.1rem solid rgba($color: #000000, $alpha: 0.1);
    }
    & span{
      margin-right: 0.5rem;
      color: $couleursecondaire;
    }   
  }
   /* Menu */
   .menu{
    display: flex;
    height: 100%;
    
    & li{
      padding: 0 1.5rem;
      color: $couleurwhite;
      border-left: 0.1rem solid rgba($color: #ffffff, $alpha: 0.2);
    }
  }

  .menu-login-bloc-design{
    width: 1rem;
    height: 1rem;
    background-color: $couleurwhite;
    border-left: 0.1rem solid $bordercontainer;
    border-top: 0.1rem solid $bordercontainer;
    position: absolute;
    transform: rotate(45deg);
    top: -0.6rem;
    right: 1.5rem;
    display: block;
    }     
}
/* Dashboard */
.nav .dashboardIcon.active,.nav .menu-list-item.active{
  font-weight: bold;
  font-size: 1.4rem;
  color: $couleurprimaire;
  padding: 0 1rem;
  height: 100%;
}
.dashboardIcon, .menu-list-item{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.dashboardIcon, .menu-list-item{
  width: 6.8rem;
}
.dashboardIcon a:first-child {
  font-size: 2.4rem;
}
.dashboardIcon a:nth-child(2){
  display: none;
}
.menu-list-item{
  position: relative;

  & .fa-chevron-down{
    cursor: pointer;
  }
}
.nav .menu-list-item-sub-menu{
  position: absolute;
  top: 5rem;
  background-color: $couleurwhite;
  border: 0.1rem solid $bordercontainer;
  padding: 1rem 0;
  border-radius: 0.5rem;
  width: 25rem;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1.2rem rgba($color: #000000, $alpha: 0.2);
  z-index: -1;
  opacity: 0;
  transition: top 0.3s ease-in-out;

  &.active{
    z-index: 1;
    opacity: 1;
    top: 7rem;
  }

  & li{
    border-left:0 none;
    color: $couleursecondaire;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    & span{
      margin-right: 0.5rem;
     
      color: $couleurprimaire;
    }
  }
}
.menu-list-item .menu-login-bloc-design{
  right: 19.75rem;
}
.menu-list-item span:nth-of-type(2){
  font-size: 1.2rem;
  opacity: 0.4;
}
.menu span + a{
  display: none;
}
.menu .menu-list-item-sub-menu a {
  display: inline;
}

/* Breadcrumb */
.breadcrumb{
  padding: 3rem 1rem;
}
/* Jumbotron */
.wrapper .hero-unit{
  background: $couleurwhite;
  box-shadow: 0 0 0.6rem rgba($color: #000000, $alpha: 0.1);
  border-radius: 0.5rem;
  padding: 3rem;
  color: $couleurwhite;
  position: relative;
  color: $couleursecondaire;

  & p{
    padding: 1.5rem 0;
  }
  span{
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 6.2rem;
    color: $couleurtertiairelight;
    display: none;
  }
}
/* Main */
main{
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 3rem;
}
/* Resume */
.resume{
  padding-top: 3rem;
  padding-bottom: 3rem;
} 
.resume-group{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.resume-group-bloc{
  padding: 2rem;
  border: 0.1rem solid $bordercontainer;
  border-radius: 0.5rem;
  background: $couleurwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;


  & span:nth-child(1){
    font-weight: bold;
    font-size: 5.2rem;
    margin-top: 1rem;
    color: $couleurtertiairelight;
  }
  & b {
    font-weight: normal;
    font-size: 1.6rem;
  }
  & span:nth-child(3){
    color: $couleursecondaire;
    font-weight: bold;
  }
}

/* Mainlist */
.mainlist-center{
  display: flex;
  flex-direction: row;
  gap: 2rem;

  .listMedecin{
    height: auto;
    margin-top: 2.5rem;

    & .account-login-profil{
      border-color:rgba($color: #000000, $alpha: 0.1);
    }

    & img{
      filter: grayscale(100%);
    }
  }
  .account-login-username{
    & strong{
      font-weight: normal;
    }
  }
}
.account-login-username{
  line-height: 1.5;
}
.mainlist-center-left{
  width: calc(30% - 1rem);
  align-self: flex-start;
}
.mainlist-center-right{
  width: calc(70% - 1rem);

  & table {
    width: 100%;
  }
  & td{
    padding-left: 0.5rem;
  }
  & thead {
    height: 5rem;
  }
  & th{
    font-weight: normal;
    color: $couleurtertiairelight;
  }
  & tbody tr{
    height: 4rem;
  }
  tbody tr:nth-child(even){
    background-color: $couleurfondbody;
  }
}
.mainlist-center-left,.mainlist-center-right{
  border: 0.1rem solid $bordercontainer;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  background-color: $couleurwhite;
}
.mainlist-center-title{
  color: $couleurprimaire;
  font-weight: bold;
  margin-bottom: 2rem;
  display: block;
  font-size: 1.6rem;
}
/* Footer */
footer{
  background: $couleurwhite;
  border-top: 0.4rem solid $couleurbleuciel;
}
.footer{
  padding: 1rem 2rem;
  text-align: center;
}

/* Form patient */
.form-insert{
  padding: 3rem 1rem;

  & legend{
    font-weight: bold;
    font-size: 2rem;
    margin: 3rem 0;
    color: $couleursecondaire;
  }
  form{
    padding: 3rem;
    border: 0.1rem solid $bordercontainer;
    border-radius: 0.5rem;
    background: $couleurwhite;
  }
  .form-group{
    margin-top: 2rem;
  }
  label{
    font-size: 1.6rem;
  }
  input, textarea, button, select{
    padding: 1.25rem 1rem;
    font-size: 1.4rem;
    border:0.1rem solid $bordercontainer;
  }
  textarea{
    height: 15rem;
    resize: none;
  }
  label + label{
    margin-left: 1.5rem;
  }
  input[type="radio"]{
    margin: 2rem 0.5rem 0 0;
  }
  button{
    background: transparent;
    border-radius: 0.5rem;
    border: 0.1rem solid $bordercontainer;
    font-weight: bold;
    color: $couleursecondaire;
    padding: 1.5rem 3rem;
    transition: background 0.3s ease-in-out;
  }
  button:hover{
    background: $couleursecondaire;
    border: 0.1rem solid $bordercontainer;
  }
}
/* Responsive Web Design [Ecran de largeur minimale 576px]*/
@media screen and (min-width:#{$smallDevice * 1px}) {
  .header{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .resume-group{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .resume-group-bloc{
    width: calc(50% - 1rem);
  }
  .nav .dashboardIcon.active,.nav .menu-list-item.active{
    font-size: 1.6rem;
  }
  .header .account-login-profil{
    display: block;
  }
  .nav{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .wrapper .hero-unit{
    p{
      max-width: 50rem;
    }
    span{
      display: block;
    }

  }
  /* Breadcrumb */
.breadcrumb{
  padding: 3rem 2rem;
}
.dashboardIcon a + a{
  display: inline;
}
}


/* Responsive Web Design [Ecran de largeur minimale 768px]*/
@media screen and (min-width:#{$mediumDevice * 1px}) {
  /* Affichage des liens sur grand ecran */
  .menu span + a{
    display: inline;
  }
  .menu li{
      padding: 0 1rem;
      border-left: 0.1rem solid $couleurfondbody;
    }
    .resume-group{
      gap: 1rem;
    }
    .resume-group-bloc{
      width: calc(25% - 0.75rem);
    }
    .wrapper .hero-unit{
      p{
        max-width: 70rem;
      }
      span{
        display: block;
      }
  
    }
    .nav .dashboardIcon{
      width: 6rem;
    }
     .menu-list-item{
      width: 17rem;
      display: flex;
      justify-content: center;
    }
    .form-insert legend{
      font-size: 2.8rem;
    }
    .menu-list-item .menu-login-bloc-design{
      right: 11.75rem;
    }
}



/* Responsive Web Design [Ecran de largeur minimale 992px]*/
@media screen and (min-width:#{$largeDevice * 1px}) {
  .logo{
    & img{
      width: auto;
    }
  }
  h1,h2,h3{
    font-size: 1.8rem;
  }
  .header, .nav, .breadcrumb,.main,.resume-group,.mainlist-center,.footer{
    width: 99.2rem;
    // padding-left: 2rem;
    // padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .nav .menu {
    font-size: 1.6rem;
  }
  .nav .menu-login.active{
    right: -1rem;
  }
  .nav .dashboardIcon{
    width: 6rem;
  }
   .menu-list-item{
    width: 20rem;
    display: flex;
    justify-content: center;
  }
  .nav .dashboardIcon{
    width: 17rem;
  }
  .dashboardIcon a:nth-child(2){
    display: inline;
  }
}